#This Code Owners is automatically maintained by arnica.io. Please maintain this file through Arnica.
#This is an auto generated team managed by arnica, to see team members go to https://github.com/orgs/lemonade-hq/teams/arnica-policy-2-0-master-codeowners/members
* @lemonade-hq/arnica-policy-2-0-master-codeowners
